@charset "UTF-8";

/* 250226 just copy selectors! */

@import "https://fonts.googleapis.com/css?family=Aldrich";
@import "https://fonts.googleapis.com/css?family=Actor";

body{
  background-color: #333333;
  font-family: 'Actor', 'Lato Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important; 
}

html.theme--documenter-dark a{
  color: #0069ff;
}
html.theme--documenter-dark a:hover {
  color: #0069ff;
}
html.theme--documenter-dark h1 .docs-heading-anchor, html.theme--documenter-dark h1 .docs-heading-anchor:hover, html.theme--documenter-dark h1 .docs-heading-anchor:visited, 
html.theme--documenter-dark h2 .docs-heading-anchor, html.theme--documenter-dark h2 .docs-heading-anchor:hover, html.theme--documenter-dark h2 .docs-heading-anchor:visited, 
html.theme--documenter-dark h3 .docs-heading-anchor, html.theme--documenter-dark h3 .docs-heading-anchor:hover, html.theme--documenter-dark h3 .docs-heading-anchor:visited,
html.theme--documenter-dark h4 .docs-heading-anchor, html.theme--documenter-dark h4 .docs-heading-anchor:hover, html.theme--documenter-dark h4 .docs-heading-anchor:visited,
html.theme--documenter-dark h5 .docs-heading-anchor, html.theme--documenter-dark h5 .docs-heading-anchor:hover, html.theme--documenter-dark h5 .docs-heading-anchor:visited,
html.theme--documenter-dark h6 .docs-heading-anchor, html.theme--documenter-dark h6 .docs-heading-anchor:hover, html.theme--documenter-dark h6 .docs-heading-anchor:visited{
  color: #517bb7;
}


html.theme--documenter-dark body{
  color: #dbdbdb;
}
/* the using keyword */
html.theme--documenter-dark .hljs-keyword, html.theme--documenter-dark .hljs-selector-tag {
  color: #ffcc00;
}

/* code blocks */
html.theme--documenter-dark .content code{
  background-color: #282828;
}
html.theme--documenter-dark .content a code{
  color: #517bb7;
}
html.theme--documenter-dark .content a:hover code{
  color: #0069ff;
}

/* the function box header */
html.theme--documenter-dark .docstring > header{
  background-color:#484848;
}
html.theme--documenter-dark .docstring{
  border-color: #222;
}

/* the darker backgrounds */
html.theme--documenter-dark #documenter .docs-main header.docs-navbar, html.theme--documenter-dark .hljs, html.theme--documenter-dark #documenter .docs-sidebar, html.theme--documenter-dark #documenter .docs-sidebar ul.docs-menu li.is-active, html.theme--documenter-dark #documenter .docs-sidebar ul.docs-menu li.is-active .tocitem, html.theme--documenter-dark #documenter .docs-sidebar ul.docs-menu li.is-active .tocitem:hover{
  background-color: #282828 !important;
}